<h3><%= @artist.name %>'s Work</h3>

<% if user_signed_in? %>
  <span>
    <%= link_to "Edit #{@artist.name}", edit_artist_path(@artist), class: "btn btn-sm btn-warning" %>
    <%= link_to "Delete #{@artist.name}", artist_path(@artist), class: "btn btn-sm btn-danger",
                                    :data => {:confirm => "Confirm?",
                                    :method => "delete"} %>
  </span><br><br>
<% end %>

<div class="col-sm-4" >
  <%= image_tag @artist.profile_pic.url(:default, timestamp: false)%>
</div>
<div class="col-sm-6 col-sm-offset-2">
  About This Artist: <hr> <%= @artist.bio %>
</div>

<div class="clearfix"></div>
<br>
<hr>
<% if user_signed_in? %>
  <span class='btn btn-success add_artwork'>Add Artwork</span>
  <div class='add_artwork_form'>
    <%= bootstrap_form_for([@artist, @artwork]) do |f| %>
      <%= f.text_field :name, placeholder: "Artwork Name" %>
      <%= f.text_field :blurb, placeholder: "Short Description" %>
      <%= f.text_field :image_description, placeholder: "Long Description" %>
      <%= f.file_field :image %>
      <label for="display_image">"Make this image the display image for the artist?" </label>
      <%= check_box_tag(:display_image) %><br>
      <%= f.submit %>
    <% end %>
  </div>
<br><br>
<% end %>
<h3>Artworks by <%= @artist.name %>: </h3>

<% @artworks.each do |artwork| %>
  <ul>
    <li class="all-artists">
      <%= link_to image_tag(artwork.image), artist_artwork_path(@artist, artwork), alt: artwork.blurb, data: {toggle: "modal", target: "#mainModal", description: artwork.image_description, image: "/assets/"+artwork.image.url(:original, timestamp: false)}, remote: true %>
      <h3><%= link_to artwork.name, artist_artwork_path(@artist, artwork), data: {toggle: "modal", target: "#mainModal", description: artwork.image_description, image: "/assets/"+artwork.image.url(:original, timestamp: false)}, remote: true %> </h3>
      <% if user_signed_in? %>

        <span class="imageButtons">
          <%= link_to "Edit", edit_artist_artwork_path(@artist, artwork), class: "btn btn-xs btn-warning" %>
          <%= link_to "Delete", artist_artwork_path(@artist, artwork), class: "btn btn-xs btn-danger",
                                          :data => {:confirm => "Confirm?",
                                          :method => "delete"} %>
        </span>
      <% end %>
    </li>
  </ul>
<% end %>

<div class="modal fade" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mainModalLabel">Artwork Info:</h4>
      </div>
      <div class="modal-body">
        <div class="modal-image col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="modal-description col-sm-3"></div>
      </div>
      <div class="clearfix"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
