<h3><%= @artist.name %>'s Work</h3>

<% if user_signed_in? %>
  <%= link_to "Edit #{@artist.name}", edit_artist_path(@artist) %><br>
  <%= link_to "Delete #{@artist.name}", artist_path(@artist),
                                  :data => {:confirm => "Confirm?",
                                  :method => "delete"} %>
<% end %>

ARTIST IMAGE TO GO HERE

<p>
  About This Artist: <br> <%= @artist.bio %>
</p>
<hr>
<div class="clearfix"></div>
<h3>Artworks by <%= @artist.name %>: </h3>
