<%= bootstrap_form_for @about do |f| %>
  <%= f.text_field :title, value: @about.title %>
  <%= f.text_area :body, value: @about.body %>
  <%= f.text_field :contact_phone, value: @about.contact_phone %>
  <%= f.text_field :contact_email, value: @about.contact_email %>
  <%= f.text_area :contact_address, value: @about.contact_address %>
  <label for="current_image">Current Image</label>
  <%= image_tag(@about.image) %>
  <%= f.file_field :image, label: "Change Image" %>
  <%= f.submit %>
<% end %>
