<h1> <%= @title %> </h1>

<% if user_signed_in? %>
  <%= link_to "Edit About Page", edit_about_path(@about), class: "btn btn-sm btn-warning" %>
<% end %>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <%= image_tag(@image, alt: "The Owners of B3 Gallery") %>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <h3> Contact Us: </h3><br>
    <h4>
    By Phone: &nbsp&nbsp&nbsp&nbsp&nbsp <%= @contact_phone %><br>
    By Email: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= @contact_email %><br>
    Or visit us at: &nbsp&nbsp<%= @contact_address %></h4>
  </div>
</div>
<br><br><br>
  <div class="clearfix"></div>
<br><br>
<div class="col-sm-1"></div>
<p>
<%= @body %>
</p>
