<!DOCTYPE html>
<html>
<head>
  <title>B3 Gallery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= flash[:alert] %>
  <div class ="flash-wrapper">
    <%= flash[:notice] %>
  </div>

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <ul class='nav navbar-nav'>
        <li><%= link_to 'Home', '/' %> </li>
        <li><%= link_to 'Local Artists', artists_path %> </li>
        <li><%= link_to 'About', '/about' %> </li>
        <% if user_signed_in? %>
          <li class="pull-right">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="row">
      <%= yield %>
    </div>

    <div class="push">

  </div>



  <div class="navbar navbar-default navbar-xs navbar-fixed-bottom">
    <span style="text-align:center"> All Content Copyright (c) 2015</span>
    <span style="font-size: 8 px"> <%= link_to "Admin", new_user_session_path, class: "pull-right" %> </span>
  </div>

</body>
</html>
